.displayTodos{
    display: block;
}

.unDisplayTodos{
    display: none;
}

.displayForm{
    display: block;
    height: 100%;
}

.unDisplayForm{
    display: none;
}

.pin {
    display: block;
    margin: 0 auto;
    
}