.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display{
  display: block;
  
}

.notDisplay{
  display: none;
}

.displayUserData{
  display: block;
 
 /* width: 45%;
  float: right;*/
}

.notDisplayUserData{
  display: none;

}

.userTodos{
  height: 50vh;
  overflow: auto;
  border: 2px solid black;
  margin-bottom: 1em;
}

.userPosts{
  height: 50vh;
  overflow: auto;
  border: 2px solid black;
  margin-bottom: 1em;
 /* margin: 10px;
  
  border-radius: 40px;
  padding: 3px 20px 20px 20px;*/

}

.displayNewUserForm{
/*display: block;
  width: 45%;
  float: right;
  border: 3px solid black
  border-radius: 40px;*/
  
}

.notDisplayNewUserForm{
 /* display: none;*/

}

.titleLine {
  width: 100%;
  background-color: #fffa9b;
  border-bottom: 1px solid black
}

.title{
  margin-left: auto;
    margin-right: auto;
    padding-right: 3em;
}


.formContainer{
  height: 100%;
}
